---
BasedOnStyle:                 Google
AlignConsecutiveAssignments:  true
AlignConsecutiveDeclarations: true
ColumnLimit:                  0
UseTab:                       Never
IndentWidth:                  4
SpacesBeforeTrailingComments: 1
...
